$primary-color: rgba(13, 110, 139, 0.75);
$overlay-color: rgba(24, 39, 51, 0.85);

@mixin top-left-zero($position) {
  position: $position;
  top: 0;
  left: 0;
}
@mixin xy-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin width-height($w, $h) {
  width: $w;
  height: $h;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
}

.container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

.showcase {
  background-color: $primary-color;
  color: #fff;
  height: 100vh;
  position: relative;

  &::before {
    content: '';
    @include top-left-zero(absolute);
    @include width-height(100%, 100%);

    background: url('trees.jpg') no-repeat center center/cover;
    z-index: -1;
  }
  & h1 {
    font-size: 4rem;
  }

  & p {
    font-size: 1.3rem;
  }
}

.showcase-inner {
  @include xy-center;
  flex-direction: column;
  text-align: center;
  height: 100%;
}

.btn {
  display: inline-block;
  border: none;
  background-color: $primary-color;
  color: #fff;
  padding: 0.75rem 1.5rem;
  margin-top: 1rem;
  text-decoration: none;
  transition: opacity 1s ease-in-out;

  &:hover {
    opacity: 0.7;
  }
}
